extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .product-page
    +box-head("Danh sách sản phẩm")

    .product-list
      if products.length
        each item in products
          .product-card
            img(src=item.thumbnail, alt=item.title)
            h3= item.title
            p= item.description
            p.price-new Giá mới: #{item.newPrice.toLocaleString()} VNĐ
            p.price-old Giá cũ: #{item.price.toLocaleString()} VNĐ
      else
        p Không có sản phẩm nào.
