extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .product-page
    +box-head("Danh sách sản phẩm")

    .product-list
      if products.length
        each item in products
          .product-card
            img(src=item.thumbnail, alt=item.title)
            a(href=`/product/detail/${item.slug}`)
              h3.product-title= item.title

            p.product-description!= item.description
            p.price-new
              | Giá mới: 
              strong.text-danger #{item.newPrice.toLocaleString()} VNĐ
            p.price-old
              | Giá cũ: 
              del.text-muted #{item.price.toLocaleString()} VNĐ
      else
        p.text-warning Không có sản phẩm nào.
