header.main-header
  .container
    .row.align-items-center
      .col-2
        .inner-logo
          a(href='/')
            img(src="/images/logo.png", alt="Logo", class="logo-img")
      .col-4 
        .inner-search.ms-4
          form(action="/search" method="GET")
            .input-group
              input.form-control(
                type="text" 
                name="keyword" 
                placeholder="Tìm kiếm..."
                aria-label="Tìm kiếm"
              )
              button.btn.btn-outline-secondary(type="submit")
                i.fas.fa-search
      
      .col-6.d-flex.justify-content-start
        .inner-menu
          ul
            li
              a(href='/') Trang chủ
            li.dropdown
              a(href='/product') Sản phẩm
              ul.dropdown-menu
                if categories && categories.length > 0
                  each category in categories
                    li.dropdown-submenu
                      a(href=`/product/category/${category.slug}`)= category.title
                      if category.children && category.children.length > 0
                        ul.dropdown-menu
                          each subCategory in category.children
                            li
                              a(href=`/product/category/${subCategory.slug}`)= subCategory.title
                else
                  li
                    a(href='/product') Tất cả sản phẩm
            li
              a(href="/cart" ) Giỏ hàng (#{miniCart ? miniCart.quantityTotal : 0}) 
            li
              a(href='/post') Bài viết